
<html>
    
    <head>
        <title>
            Test page
        </title>
    </head>

    <body>
        {% partial "partials/example_partial" %}

        {{ if 5 < 10 }}
            {{ let foo = 12 + 43 }}
        {{ else }}
            {{ let foo = 0 }}
        {{ endif }}
        foo is {% foo %}

        {{ foreach t in testing("Test string!", 10) }}
            <p>This is {% t %}</p>
        {{ endforeach }}

        {{ if test_arr }}
            <p>Arrays are truthy!</p>
        {{ endif }}
    </body>

</html>



